
.recipes-pic, .recipes-ul {
    text-align: center;
    width: 600px;
    margin: 100px auto;
}

.recipes-pic{
    padding: 0px;
    border: 2px solid black;
    width: 600px;
    height: 1000px;
}

.recipes-ul {
    padding: 0;
    margin: 0;
    list-style-position: inside; /* Adjust list item marker position where the dots go */
}

.recipes-ul li {
    text-align: center; /* Center the text inside each list item */
}

.about-button{
    background-color: aquamarine;
    padding: 5px;
    height: 0px;
    width: 50px;
    margin: 10px auto; /* add the auto margin to make it centerd not going to the left*/
    border-radius: 10px; /*to make the edges rounded */
    border: 1px solid black;
}

 .about-button:hover{    /*now the button is interact when you hover */
    background-color: lightblue; 
    height: 30px;
    width: 50px;
}

.about-page{
    text-align: center;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    margin: 100px auto;
    width: 800px;
}

.link-odin{
    padding: 0.30%;
    color: white;
    background-color: #357a96;
    border-radius: 10px;
}

.link-odin:hover{   /*now the button is interact when you hover */
    background-color: lightblue;
    height: 40px;
    width: 60px;
}